.box {
    margin: 0 200px;
    display: grid;
    text-align: center;
    grid-template-columns: 350px 350px;
    grid-template-rows: 120px 1fr 1fr 120px;
    grid-template-areas:
        "Form Form"
        "Form Form"
    ;
}

.formSection {
    margin-bottom: 20px;
}

.formContainer {
    grid-area: Form;
    padding: 20px;
}

.label {
    font-size: 25px;
}

.input {
    font-size: 15px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    font-family: a Absolute Empire;
    font-weight: 100;
}

.select {
    font-size: 18px;
    background-color: #ddd;
    color: #000;
    font-family: a Absolute Empire;
    font-weight: 100;
}

.textarea {
    font-size: 18px;
    background-color: #ddd;
    color: #000;
    font-family: a Absolute Empire;
    font-weight: 100;

    padding: 9px;
    max-height: 900px;
    min-height: 201px;
    max-width: 100%;
    min-width: 100%;
}

.error {
    color: #c00;
}

.submit {
    margin: 10px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: a Absolute Empire;
    font-weight: 100;
}